<div class="container">

  <h4 class="text-center"> Registre-se para abraçar um novo mundo!</h4>

  <form [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
    <div class="form-group">
      <input #emailInput formControlName="email" placeholder="e-mail" class="form-control" autofocus>

      <ap-vmessage *ngIf="signupForm.get('email').errors?.required" text="E-mail obrigatório!">
      </ap-vmessage>
      <ap-vmessage *ngIf="signupForm.get('email').errors?.email" text="E-mail Inválido!">
      </ap-vmessage>

    </div>

    <div class="form-group">
      <input formControlName="fullName" placeholder="Nome completo" class="form-control">

      <ap-vmessage *ngIf="signupForm.get('fullName').errors?.required"
        text="Nome completo obrigatório!">
      </ap-vmessage>
      <ap-vmessage *ngIf="signupForm.get('fullName').errors?.minlength" 
        text="número de caracteres Inválido!">
      </ap-vmessage>
      <ap-vmessage *ngIf="signupForm.get('fullName').errors?.maxlength" 
        text="número de caracteres Inválido!">
      </ap-vmessage>

    </div>

    <div class="form-group">
      <input formControlName="userName" placeholder="user name" class="form-control">
      <ap-vmessage *ngIf="signupForm.get('userName').errors?.required"
      text="Nome de usuário obrigatório!">
      </ap-vmessage>
      <ap-vmessage *ngIf="signupForm.get('userName').errors?.minlength" 
      text="número de caracteres Inválido!">
      </ap-vmessage>
      <ap-vmessage *ngIf="signupForm.get('userName').errors?.maxlength" 
      text="número de caracteres Inválido!">
      </ap-vmessage>
       <ap-vmessage *ngIf="signupForm.get('userName').errors?.lowerCase" 
      text="deve ser minúsculo!">
      </ap-vmessage>
      <ap-vmessage
      text="Nome de usuário já ultilizado"
      *ngIf="signupForm.get('userName').errors?.userNameTaken">
      </ap-vmessage>
  <small *ngIf="signupForm.get('userName').valid" class="text-success">Usuário válido!</small>
    </div>

    <div class="form-group">
      <input formControlName="password" type="password" placeholder="password" class="form-control">
      <ap-vmessage *ngIf="signupForm.get('password').errors?.required"
      text="Senha obrigatório!">
      </ap-vmessage>
      <ap-vmessage *ngIf="signupForm.get('password').errors?.minlength" 
      text="número minimo de caracteres é 8!">
      </ap-vmessage>
      <ap-vmessage *ngIf="signupForm.get('password').errors?.maxlength" 
      text="número maximo de caracteres é 18!">
      </ap-vmessage>

    </div>

    <button [disabled]="signupForm.invalid || signupForm.pending" class="btn btn-primary btn-block">Register</button>

    <p>Já é um usuário? <a [routerLink]="['/']">Login!</a></p>
  </form>

</div>